.button {
  
  margin-top: 10px; 
}
.button a{
  text-align: center;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff5e5e;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-weight: bold;
}
.button a:hover{
  background-color: #ff2b2b;
}
.pop-up-text {
color: white;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted rgb(7, 7, 7);
    text-align: center;
  }

  .pop-up-text:hover::after {
    
    content: attr(data-content);
    position: absolute;
    background-color: #f1f1f1;
    color: #333;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1;
  }
table {
    width: 100%;
    border-collapse:calc();
    border-spacing: 0;
  }

  th, td {
      font-size: 30px;
    font-style: inherit;
    border: 5px solid #dddddd;
    text-align:center;
    padding: 8px;
  }

 
  th {
     
    background-color: #5f1616;
  }
  body{
    background-image:url('images/fitnesstrainer.jpg');
    background-repeat: no-repeat;
    background-size: 1400px;
    background-color: black;
  }
  
  .new{
    text-align: center;
    text-shadow: #333;
  }
  .container{
    justify-content: center;
    text-align: center;
  }